/* common shared css */
body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

/* header style */

.header-container {
  text-align: center;
  margin-top: 50px;
}

.header-container img {
  width: 1130px;
}

.header-items {
  position: relative;
  margin-top: -300px;
  color: white;
}

.header-title {
  font-size: 20px;
}

.header-description {
  font-size: 40px;
  font-weight: 900;
}

/* sale section style */

.sale-section {
  margin-top: 250px;
}
.sale-details {
  text-align: center;
}

.sale-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
}

.sale-subtitle {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.sale-new-year-message {
  text-align: center;
}

.sale-img {
  width: 600px;
  height: 300px;
}

/* welcome section */

.welcome-section {
  text-align: center;
  margin-top: 50px;
  color: white;
}

.welcome-section img {
  width: 1130px;
}

.welcome-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -300px;
  margin-left: 290px;
  width: 1130px;
}

.welcome-text {
  color: white;
  width: 50%;
  text-align: justify;
  margin-top: -300px;
}

.welcome-year {
  margin-right: 150px;
}

.welcome-year img {
  width: 200px;
}

/* event section design */
.event-section {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1130px;
  margin-top: 50px;
  border-radius: 16px;
  margin-left: 180px;
  margin-bottom: 50px;
}

.event-info {
  font-family: Inter;
  font-style: normal;
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
}

.events-day {
  color: #f00;
}

.btn-primary {
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: none;
}

/* holiday sale section */

.holiday-sale {
  width: 1130px;
  margin-top: 150px;
  margin-left: 140px;
}

.holiday-sale-details {
  text-align: center;
}

.holiday-sale-title {
  color: #f00;
}

.holiday-sale-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  padding: 0px 150px;
}

/* holiday img style */

.holiday-img-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 140px;
}

.holiday-sale-bg-img {
  width: 1130px;
  margin-top: 50px;
}

.discount-img1-design{
    text-align: end;
    
}

.discount-img2{
    width: 1130px;
}

.discount-img3-design{
    display: flex;
    margin-top: -600px;
    margin-left: -100px;

}

.discount-fifty-img{
    margin-left: -50px;
}

.discount-img4{
    width: 700px;
}

.discount-fifty-img img{
    width: 300px;
}

/* gift section style  */

.gift-section {
  width: 1130px;
  margin-left: 100px;
  margin-top: 80px;
}

.gift-details {
  margin-left: 50px;
  margin-right: 50px;
}
.gift-title {
  color: #f00;
  font-family: Inter;
  margin-bottom: 0;
}

.gift-img {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 50px;
  justify-content: space-between;
  gap: 30px;
  
}

.img-size {
  width: 250px;
}

.img-size:hover {
  width: 300px;
  height: 200px;
  transform: rotateX(180deg);
  perspective: 1000px;
}



/* news letter design */

.subscription-section {
  margin-left: 140px;
  margin-right: 40px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1130px;
  margin-top: 50px;
} 

.email-logo {
  width: 70px;
}

.news-letter-para {
  color: rgba(7, 2, 17, 0.6);
  justify-content: center;
  font-family: Inter;
  padding: 0px 150px;
}

.email-input {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: none;
  padding: 10px;
}

#subscribe-btn {
  position: absolute;
  border: none;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 10px;
  color: white;
}

.subscription-details {
  padding: 20px;
  text-align: center;
}

/* footer design */
.footer {
  background-color: #070211;
  color: white;
  width: 100%;
  margin-top: 50px;
}

.phone-website {
  align-items: center;
  justify-content: center;
}

.footer-text {
  display: flex;
  gap: 300px;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
  border-bottom: solid 1px;
  border-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 10px;
}

.logo-img {
  display: flex;
  justify-content: center;
  gap: 50px;
  border-bottom: solid 1px;
  border-color: rgba(255, 255, 255, 0.15);
}
